.navbar-item {
  list-style: none;
  display: inline-block;
  padding: 25px;
}

.navbar-style {
  text-align: center;
  color: #8cc9dc;
  font-size: 20px;
  font-family: "Inter";
  font-weight: 400;
  word-wrap: "break-word";
}

.logo-style {
  text-align: center;
  color: #8cc9dc;
  font-size: 35;
  font-family: "Inter";
  font-weight: 400;
  word-wrap: "break-word";
  display: inline-block;
  list-style: none;
}

.button-style-login {
  text-align: center;
  display: inline-block;
  list-style: none;
  margin-left: 15rem;
}

.login {
  background-color: #8cc9dc;
  color: #121c1f;
  font-weight: bolder;
  font-family: "Inter";
}

.login:hover {
  color: #8cc9dc;
  background-color: #121c1f;
}

.button-style-signup {
  text-align: center;
  display: inline-block;
  list-style: none;
  margin-left: 2rem;
}

.signup {
  background-color: #121c1f;
  color: #8cc9dc;
  font-weight: bolder;
  font-family: "Inter";
}

.signup:hover {
  color: #121c1f;
  background-color: #8cc9dc;
}
