#root {
  background-color: #121c1f;
}

.section1 {
  background-color: #8cc9dc;
  padding: 10px;
}

.sidebar {
  position: absolute;
  color: #121c1f;
}

.sectionOneFirstInfo {
  color: #121c1f;
  font-size: 134px;
  font-family: "Inter";
  font-family: "700";
  word-wrap: "break-word";
  align-self: center;
  margin: 10px;
}

.section2 {
  background-color: #121c1f;
}
